body{
  font-family: 'Stanley';
}

/* ==========================================================================
   child ui-views animations for entering and leaving
   ========================================================================== */

  .childView.ng-enter{
    -webkit-transition: 0.5s linear all;
    -moz-transition:    0.5s linear all;
    -o-transition:      0.5s linear all;
    transition:         0.5s linear all;
  }
  .childView.ng-leave {
    -webkit-transition: 0.01s linear all;
    -moz-transition:    0.01s linear all;
    -o-transition:      0.01s linear all;
    transition:         0.01s linear all;
  }

  .childView.ng-enter {
    opacity: 0;
  }

  .childView.ng-enter-active {
    opacity: 1;
  }

  .childView.ng-leave {
    opacity: 1;
  }

  .childView.ng-leave-active {
    opacity: 0;
  }

  .menuAnimation {
    opacity: 1;
  }


  .menuAnimation.ng-hide {
    -webkit-transition: 0.1s linear all;
    -moz-transition:    0.1s linear all;
    -o-transition:      0.1s linear all;
    transition:         0.1s linear all;
    opacity: 0;
  }

  .transformable {
    -webkit-transition: height 0.2s linear;
    -moz-transition: height 0.2s linear;
    -o-transition: height 0.2s linear;
    -ms-transition: height 0.2s linear;
    transition: height 0.2s linear;
  }

  .canTransform{
    transition: opacity 1s ease-in-out;
   -moz-transition: opacity 1s ease-in-out;
   -webkit-transition: opacity 1s ease-in-out;
  }

  .entering{
    opacity: 0;
  }

  .arrived{
    opacity: 1;
  }



/* ==========================================================================
   Landing
   ========================================================================== */

   .menuIcon{
     display: none;
     position: absolute;
     right: 35px;
     top: 20px;
     width: 25px;
     height: auto;
     z-index: 11;
   }

   .menuIcon:hover{
     cursor: pointer;
   }


  #welcome{
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    z-index: -1;
  }

  #logoContainer{
    position: absolute;
    top: 80vh;
    left: 0;
    right: 0;
    z-index: 1;
    padding-bottom: 50px;
  }

  #logomain{
    margin: 0;
    font-family: 'Stanley';
    font-weight: 900;
    font-size: 6.25em;
    text-align: center;
    color: white;
  }

  #content{
    z-index: 100;
    width: 100%;
    top: 100vh;
    height: auto;
    background-color: white;
    display: block;
    position: absolute;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 100px;
  }

  #contentView{
    padding: 160px 0 100px 0;
  }

  #menuSuperContainer{
    z-index: 10;
    padding: 20px 0 20px 0;
    background: linear-gradient(#FFFFFF, #E0E0E0); /* Standard syntax */
    -webkit-box-shadow: 0 8px 6px -4px #C8C8C8;
    -moz-box-shadow:    0 8px 6px -4px #C8C8C8;
    box-shadow:         0 8px 6px -4px #C8C8C8;
    z-index: 101;
  }

  .menuTitle{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3em; /* 24px */
    font-family: 'Stanley';
    font-weight: 900;
    line-height: 33px;
  }

  .responsiveTitle{
    display: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.1em; /* 24px */
    font-family: 'Stanley';
    font-weight: 900;
    line-height: 33px;
  }

  .menuLink:link, .menuLink:visited {
    font-family: 'Stanley';
    font-weight: 700;
    font-size: 0.875em;
    letter-spacing: 0;
    line-height: 33px;
    color: grey;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
  }

  .menuLink:link:active, .menuLink:visited:active {
    color: grey;
  }

  .menuLink div{
    position: relative;
    z-index : 1;
  }

  .menuLink:hover{
    color: black;
  }

  .menuLink div:hover:before{
    color: black;
    content : "";
    position: absolute;
    left    : 40%;
    bottom  : 0;
    height  : 1px;
    width   : 20%;
    border-bottom: 2px solid black;
  }

  .selected{
    color: black;
  }

  .selected:before{
    color: black;
    content : "";
    position: absolute;
    left    : 40%;
    bottom  : 0;
    height  : 1px;
    width   : 20%;
    border-bottom: 2px solid black;
  }

  .disabled{
    font-family: 'Stanley';
    font-weight: 700;
    line-height: 33px;
    text-decoration: line-through;
    text-align: center;
    cursor:not-allowed;
    color: grey;
  }




  /* ==========================================================================
     About
     ========================================================================== */

  .aboutText{
    font-size: 3em; /* 48px */
    font-family: 'Stanley';
    font-weight: 700;
    letter-spacing: -2px;
    line-height: 100%;
  }

  .aboutText span{
    color: #00FD00;
  }

  .social{
    margin-top: 80px !important;
  }

  .socialMiniText{
    margin: 0;
    padding: 0;
    font-family: 'Stanley';
    font-weight: 700;
    font-size: 0.5em;
  }


  .socialText{
    display:inline-block;
    margin: 0 auto 0 0;
    padding: 0;

  }

  .socialLink:link, .socialLink:visited {
    display:inline-block;
    font-family: 'Stanley';
    font-weight: 900;
    font-size: 1.125em;
    letter-spacing: 0;
    color: grey;
    text-decoration: none;
    cursor: pointer;
  }

  .socialLink:link:active, .socialLink:visited:active {
    color: grey;
  }

  .socialLink:hover .hr{
    display: block;
    visibility: initial;
  }

  .socialLink:hover{
    color: black;
  }

  .hr{
    visibility: hidden;
    width: 100%;
    margin: 10px 0 0 0;
    background-color: black;
    border: none;
    border-top: 2px solid black;
  }

  .aboutImage img{
    width: 100%;
    height: auto;
    position: center center;
  }


  /* ==========================================================================
     Contact
     ========================================================================== */

  .contactTitle{
    margin-bottom: 25px;
    font-family: 'Stanley';
    font-weight: 900;
  }

  .contactBody{
    font-size: 0.75em;
    font-family: 'Stanley';
    font-weight: 700;
  }

  .contactText{
    color: grey;
    font-size: 3em; /* 48px */
    font-family: 'Stanley';
    font-weight: 700;
    letter-spacing: -2px;
    line-height: 100%;
  }

  .contactLink:link, .contactLink:visited{
    color: black;
    text-decoration: none;
  }

  .contactLink:link:active, .contactLink:visited:active{
    color: #00FD00;
  }

  .contactLink:hover{
    color: #00FD00;
  }

/* ==========================================================================
   Journal
   ========================================================================== */

   .floater{
     float: left !important;
   }

   .post{
     z-index: 2 !important;
   }

   .post-title{
     z-index: 3 !important;
     width: 96%;
     height: 40px;
     padding: 0;
     margin: 0;
     margin-top : 20px;
     margin-left: 4%;
     font-weight: 900;
     font-size: 1.5em;
     line-height: 40px;
   }

   .post-content{
     z-index: 3 !important;
     width: 96%;
     height: 40px;
     margin: 0;
     margin-top : 20px;
     margin-left: 4%;
     font-weight: 700;
     font-size: 1.4em;
     line-height: 40px;
     vertical-align: text-bottom;
    }

    .post-author{
      position: absolute;
      bottom: 25px;
      left: 4%;
      width: 96%;
      margin: 0;
      font-weight: 700;
      font-style: italic;
      font-size: 0.6em;
    }

    .post-author span{
      color: grey;
    }

    .post-date{
      position: absolute;
      bottom: 25px;
      left: 125px;
      width: 200px;
      margin: 0;
      font-weight: 700;
      font-style: italic;
      font-size: 0.6em;
    }

    .post-date span{
      color: grey;
    }

    .hoverBlock{
      display: none;
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: .4;
      z-index: -1;
      background-color: white;
    }
    .post:hover .hoverBlock{
      display: inline
    }

    .post:hover > .image-title, .post:hover > .image-author, .post:hover > .image-date{
      display: inline-block;
    }

    .image-title{
      display: none;
      z-index: 3 !important;
      width: 96%;
      height: 40px;
      padding: 0;
      margin: 0;
      margin-top : 20px;
      margin-left: 4%;
      font-weight: 900;
      font-size: 1.5em;
      line-height: 40px;
    }

    .image-content{
      display: none;
      z-index: 3 !important;
      width: 96%;
      height: 40px;
      margin: 0;
      margin-top : 20px;
      margin-left: 4%;
      font-weight: 700;
      font-size: 1.5em;
      line-height: 40px;
      vertical-align: text-bottom;
     }

     .image-author{
       display: none;
       position: absolute;
       bottom: 25px;
       left: 4%;
       width: 96%;
       margin: 0;
       font-weight: 700;
       font-style: italic;
       font-size: 0.6em;
     }

     .image-author span{
       color: grey;
     }

     .image-date{
       display: none;
       position: absolute;
       bottom: 25px;
       left: 125px;
       width: 180px;
       margin: 0;
       font-weight: 700;
       font-style: italic;
       font-size: 0.6em;
     }

     .image-date span{
       color: grey;
     }

     .button-showMore{
       width: 100%;
       height: 50px;
       margin-top: 50px;
       font-family: 'Stanley';
       font-weight: 900;
       color: grey;
       cursor: pointer;
       background: linear-gradient(#FFFFFF, #E0E0E0); /* Standard syntax */
       -webkit-box-shadow: 0 8px 6px -4px #C8C8C8;
       -moz-box-shadow:    0 8px 6px -4px #C8C8C8;
       box-shadow:         0 8px 6px -4px #C8C8C8;
       font-size: 1em;
     }

     .button-showMore:hover{
       color: black;
     }

/* ==========================================================================
   @Font-face
   ========================================================================== */

    @font-face{
      font-family: 'Stanley';
      src: url(../types/Stanley-Poster.otf);
      font-weight: 900;
    }

    @font-face{
      font-family: 'Stanley';
      src: url(../types/Stanley-Bold.otf);
      font-weight: 700;
    }

/* ==========================================================================
   @MediaQueries
   ========================================================================== */

   @media only screen and (min-width: 768px) and (max-width: 959px){
     .menuTitle{
       font-size: 1em;
     }
   }

   @media only screen and (min-width: 320px) and (max-width: 767px){
     .menuTitle{
       display: none !important;
     }

     #logomain{
       font-size: 2em;
     }

     .responsiveTitle, .menuIcon{
       display: inline-block;
     }

     .small {
       height: 33px;
     }

     .big {
         height: 231px;
     }
     .post.sixteen.columns{
       height: 200px !important;
     }
     .post.two-thirds.column, .post.eight.columns, .post.one-third.column{
       height: 300px !important;
     }

   }
