<div ng-controller="aboutCtrl">
  <div class="container">
    <div class="sixteen columns">
      <p class="aboutText">
        <span>The Mud Howlers</span> are a Mexican-American rock & roll band formed inside the dusty heart of the Sonoran Desert (Hermosillo) in 2011.<br>
         The band is conformed by 4 members, Nathan on lead guitar flying with psychedelic solos and raw performance on stage, Charly is in charge of hitting the drums with extreme potency infused with deep hip-hop beats, Norbi on the bass keeps the mix glued together with some groovy and psych licks, and last but not least comes Felipe gliding the muddy moog solos and the catchy key licks.
      </p>
    </div>
  </div>
  <div class="container social">
    <div class="two columns">
      <a class="socialLink" target="_blank" href="https://www.youtube.com/user/TheMudHowlers">
        <p class="socialMiniText">Watch us</p>
        <p class="socialText">Youtube</p>
        <div class="hr"></div>
      </a>
    </div>
    <div class="two columns offset-by-two">
      <a class="socialLink" target="_blank" href="http://instagram.com/THEMUDHOWLERS">
        <p class="socialMiniText">Follow us</p>
        <p class="socialText">Instagram</p>
        <div class="hr"></div>
      </a>
    </div>
    <div class="two columns">
      <a class="socialLink" target="_blank" href="https://www.facebook.com/TheMudHowlers?fref=ts">
        <p class="socialMiniText">&nbsp;</p>
        <p class="socialText">Facebook</p>
        <div class="hr"></div>
      </a>
    </div>
    <div class="two columns">
      <a class="socialLink" target="_blank" href="https://twitter.com/THEMUDHOWLERS">
        <p class="socialMiniText">&nbsp;</p>
        <p class="socialText">Twitter</p>
        <div class="hr"></div>
      </a>
    </div>
    <div class="two columns offset-by-three">
      <a class="socialLink" target="_blank" href="https://itunes.apple.com/us/artist/the-mud-howlers/id574553816">
        <p class="socialMiniText">Listen us</p>
        <p class="socialText">iTunes</p>
        <div class="hr"></div>
      </a>
    </div>
  </div>
  <div class="container" style="margin-top: 80px !important">
    <div class="sixteen columns aboutImage">
      <img src="img/mud.jpg">
    </div>
  </div>
</div>
