<div ng-controller="aboutCtrl">
  <div class="ten columns offset-by-three">
    <p class="aboutText">
      <span>The Mud Howlers</span> are a Mexican-American rock & roll band formed inside the dusty heart of the Sonoran Desert (Hermosillo) in 2011.<br>
       The band is conformed by 4 members, Nathan on lead guitar flying with psychedelic solos and raw performance on stage, Charly is in charge of hitting the drums with extreme potency infused with deep hip-hop beats, Norbi on the bass keeps the mix glued together with some groovy and psych licks, and last but not least comes Felipe gliding the muddy moog solos and the catchy key licks.
    </p>
  </div>
</div>
