<div ng-controller="contactCtrl">
  <div class="four columns">
    <p class="contactTitle">Electric Emerald</p>
    <p class="contactBody">
      Electric Emerald Records<br>
      820 Seward Street<br>
      Hollywood, CA 90038<br>
      P.323.308.3818<br>
      P.323.308.1819
    </p>
  </div>
  <div class="three columns">
    <p class="contactTitle">Booking</p>
    <p class="contactBody">
      N. AMERICAN BOOKING<br>
      Mr. Marc Gedget & Mr. Robby<br>
      Fraser<br>
      <br>
      William Morris Endeavor<br>
      INTERNATIONAL BOOKING<br>
      Mr. Russell Warby<br>
      William Morris Endeavor<br>
      P.+44.207.534.6800
    </p>
  </div>
  <div class="three columns">
    <p class="contactTitle">Management</p>
    <p class="contactBody">
      Monotone Management<br>
      820 Seward Street<br>
      Hollywood, CA 90038<br>
      P.323.308.3818<br>
      P.323.308.1819
    </p>
  </div>
  <div class="three columns">
    <p class="contactTitle">Press</p>
    <p class="contactBody">
      US PUBLICIST<br>
      Nasty Little Man<br>
      P.212.343.0740<br>
      <br>
      UK PUBLICIST<br>
      Mr. Jon Wilkinson<br>
      Technique Publicity<br>
      <br>
      EUROPEAN PROMOTIONS<br>
      Ms. Sarah Wilson<br>
      XL Recordings<br>
      <br>
      INTERNATIONAL PROMOTIONS (EX-EUROPE)<br>
      Jennifer Mallory<br>
      Columbia Records<br>
    </p>
  </div>
</div>
