<div ng-controller="contactCtrl">
  <div class="container">
    <div class="twelve columns" ng-repeat="contact in contacts">
      <p class="contactText">
        <a class="contactLink" target="_blank" href="{{contact.hrefContent}}">{{contact.title}}</a><br>
        <span ng-show="contact.name != ''">
          {{contact.name}}<br>
        </span>
        <span ng-show="contact.mail != ''">
          {{contact.mail}}<br>
        </span>
        <span ng-show="contact.address != ''">
        {{contact.address}}<br>
        </span>
        <span ng-repeat="telephone in contact.telephones">
        {{telephone.number}}<br>
        </span>
        <a class="contactLink" target="_blank" href="{{contact.website}}" style="color: grey">{{contact.website}}</a>
      </p>
    </div>
  </div>
</div>
