<div ng-controller="contactCtrl">
  <div class="container">
    <div class="sixteen columns">
      <p class="contactText">
        <a class="contactLink" target="_blank" href="http://www.electricemerald.com/">Management</a><br>
        Roberto Lobeira<br>
        bobby@electricemerald.com<br>
        US +1 (310) 2797590<br>
        MX +521 (81) 17808883<br>
        <a class="contactLink" target="_blank" href="http://www.electricemerald.com/">www.electricemerald.com</a>
      </p>
    </div>
    <div class="sixteen columns">
      <p class="contactText">
        <span style="color: black">Electric Emerald Records</span><br>
        Amatlán 133<br>
        Hipódromo Condesa<br>
        Cuauhtémoc, 06170<br>
        México, D.F.
      </p>
    </div>
  </div>
</div>
