<div ng-controller="homeCtrl">
  <div id="welcome">
    <span>&nbsp;</span>
  </div>
  <div id="logoContainer" class="container">
    <p id="logomain">The Mud Howlers</p>
  </div>
  <div id="content">
    <div id="menuSuperContainer">
      <div class="container">
        <nav>
          <a ui-sref="home.about" class="menuLink" ng-click="checkUrl('about')">
            <div class="two columns" ng-class="{'selected': aboutSelected}">
              About
            </div>
          </a>
            <div class="two columns disabled">
              Journal
            </div>
          <div class="two columns disabled">
            Gigs
          </div>
          <div class="four columns menuTitle">
            the mud howlers
          </div>
          <div class="two columns disabled">
            Media
          </div>
          <a class="menuLink" target="_blank" href="http://www.google.com">
          <div class="two columns">
            Store
          </div>
          </a>
          <a ui-sref="home.contact" class="menuLink" ng-click="checkUrl('contact')">
            <div class="two columns" ng-class="{'selected': contactSelected}">
              Contact
            </div>
          </a>
        </nav>
      </div>
    </div>

    <div id="contentView">
      <div ui-view></div>
    </div>
  </div>
</div>
