<div ng-controller="landingCtrl">

  <div ui-view="about"></div>
  <div id="welcome">
    <span>&nbsp;</span>
  </div>
  <div id="content">
    <div class="menuSuperContainer">
      <div class="container">
        <nav>
          <div class="one column menuLink">
            Journal
          </div>
          <div class="one column menuLink">
            About
          </div>
          <div class="one column menuLink">
            Gigs
          </div>
          <div class="ten columns menuLink">
            the mud howlers
          </div>
          <div class="one column menuLink">
            Media
          </div>
          <div class="one column menuLink">
            Store
          </div>
          <div class="one column menuLink">
            Contact
          </div>
        </nav>
      </div>
    </div>
  </div>

</div>
